.header {
  /*
  background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));
  */
  height: 100%;
  padding: var(--mantine-spacing-md);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.breadcrumbLink {
  text-decoration: none;
}

.breadcrumbLink:hover {
  text-decoration: underline;
}
.breadcrumbLink:hover:active{
  text-decoration: underline;
  text-decoration-color: black;
}
.mainSection {
  margin-bottom: var(--mantine-spacing-md);
  
}

.user {
  color: light-dark(var(--mantine-color-black), var(--mantine-color-dark-0));
  padding: var(--mantine-spacing-xs) var(--mantine-spacing-sm);
  border-radius: var(--mantine-radius-sm);
  transition: background-color 100ms ease;

  &:hover {
    background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-8));
  }

  @media (max-width: $mantine-breakpoint-xs) {
    display: none;
  }
}

.userActive {
  background-color: light-dark(var(--mantine-color-white), var(--mantine-color-dark-8));
}

.tabsList {
  &::before {
    display: none;
  }
}


.link {
  display: block;
  line-height: 1;
  padding: rem(8px) rem(12px);
  border-radius: var(--mantine-radius-sm);
  text-decoration: none;
  color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-0));
  font-size: var(--mantine-font-size-sm);
  font-weight: 500;

  @mixin hover {
    background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));
  }
}

.linkLabel {
  margin-right: rem(5px);
}



