@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    background-color: #F8F8F8;
}
code {
    font-size: 1.1em
}
table.proglvtable {
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-collapse: collapse;
}

table.proglvtable td,th{
    border: 1px solid rgba(0, 0, 0, 0.12);
    padding: 1em;
}

table.proglvtable th {
    @apply text-gray-420;
    @apply text-sm;
    @apply font-medium;
}

table.proglvtable tbody tr:hover {
    @apply bg-gray-69
}

@layer utilities {
    .table-striped > tbody > tr:nth-child(even) {
        @apply bg-gray-100; /* Change 'bg-gray-200' to your desired background color */
    }
}