@tailwind base;
@tailwind components;
@tailwind utilities;

/* Code block line numbers */
.code-block code {
  counter-reset: step;
  counter-increment: step 0;
}

.code-block code .line::before {
  content: counter(step);
  counter-increment: step;
  width: 1rem;
  margin-right: 1.5rem;
  display: inline-block;
  text-align: right;
  color: rgba(115,138,148,.4);
}

.code-block pre {
    overflow: auto;
}

strong {
  font-weight: 600;
}

.sidebar-bg-dark {
  /* background-color: #1e1e1e; */
  background: linear-gradient(to left top, #1e1e1e, #141414);
}

:root {
  --bg-color: #FAFAFA;
}